yourdomain.com  {
  handle_path /myverysecretpath {
        reverse_proxy http://127.0.0.1:2443
  }

  handle_path /login {
        reverse_proxy http://127.0.0.1:8080
  }
  reverse_proxy  127.0.0.1:8000 {
  }
}
